---
import { MicroCMSListContent } from 'microcms-js-sdk'

import BlogAnchor from '@components/features/blog/BlogAnchor.astro'
import { Blog } from '@lib/microCMS/types'

export interface Props {
  type?: 'primary' | 'secondary'
  cols?: 2 | 3
  blogs: (Blog & MicroCMSListContent)[]
  image?: {
    loading?: 'eager' | 'lazy'
  }
}
const { type = 'primary', cols = 3, blogs } = Astro.props as Props
---

{
  (type === undefined || type === 'primary') && (
    <ul
      class:list={[
        'grid grid-cols-1 gap-5 lg:gap-10 mt-6 md:mt-8',
        cols === 2 && 'md:grid-cols-2',
        cols === 3 && 'md:grid-cols-3',
      ]}
    >
      {blogs.map((blog) => (
        <li>
          <BlogAnchor
            title={blog.title}
            eyecatch={blog.eyecatch}
            id={blog.id}
            category={blog.category.name}
            publishedAt={blog.publishedAt ?? blog.createdAt}
          />
        </li>
      ))}
    </ul>
  )
}

{
  type === 'secondary' && (
    <ul class="grid grid-cols-1 gap-6 mt-8">
      {blogs.map((blog) => (
        <li>
          <BlogAnchor
            title={blog.title}
            eyecatch={blog.eyecatch}
            id={blog.id}
            category={blog.category.name}
            publishedAt={blog.publishedAt ?? blog.createdAt}
            type="secondary"
          />
        </li>
      ))}
    </ul>
  )
}
